*{
   padding: 0;
   margin: 0;
   border: 0;
}
 *,*::before,*::after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display:block;}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 15px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: none;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400;}

body{
   color: rgb(31, 31, 31);
   letter-spacing: 0.2px;
   font-weight: 400;
   font-family: Inter;
}
.main {
}

.wrapper{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.container {
   max-width: 1160px;
   margin: 0px auto;
   padding: 0px 15px;
}

.header {
}
.header__container {
   min-height: 75px;
   display: flex;
   margin: 0 auto;   
   align-items: center;
}
.header__logo {
   z-index: 5;
   margin: 0px 24px 0px 0px;
}
.logo-non-text {
   display: none;
}
@media (max-width: 500px){
   .logo-non-text {
      display: block;
   }
   .logo-text {
      display: none;
   }
   .header__logo {
      margin: 0px;
   }
}

.header__menu {
   flex: 1 1 auto;
}
.menu {
}
.menu__body {
   display: flex;
}
.button__link {
   color: rgb(0, 112, 160); 
   white-space: nowrap;
   padding: 0 15px;

   }

.menu__list {
   display: flex;
   gap: 24px;
   flex: 1 1 auto;
}

.menu__item {
}

.menu__item:hover,
.button__link:hover {
   text-decoration: underline;
}

.menu__link {
   color: rgb(51, 56, 63);
}

.header__button {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}


.button {
   display: inline-block; 
   letter-spacing: 0.2px;
   line-height: 24px;
   color:rgb(252, 253, 254);
   background: rgb(0, 112, 160);;
   padding: 6px 20px;
   transition: background-color 0.3s ease 0s;
   width: 139px;
   margin: 0px 4px 0px 31px;
}

.button:hover{
   background: rgb(25, 142, 192);;
}

.icon-menu {
   display: none;  
}

@media (max-width: 767.98px){
   .icon-menu {
      display: flex;
      position: relative;
      flex: 0 0 30px;
      height: 18px;
      flex-direction: column;
      justify-content: space-between;
      margin: 0px 0px 0px 20px;
   }
   .icon-menu::after,
   .icon-menu::before {
      content: "";
      background-color: #000000;
      height: 2px;
   }

   .icon-menu span {
      height: 2px;
      background: #000;
   }
   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #fff;
   }
   .menu__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0px 0px 0px;
   }
   .menu__item {
      margin: 50px 0px 30px 0px;
   }
   .menu__item:last-child {
      margin: 50px 0px 0px 0px;
   }
   .menu__link {
      color: rgb(51, 56, 63);
      font-size: 20px;
   }
   .header__button {
      flex: 1 0 auto;
   }
}

/*=============================================================*/

.automated {
   margin: 100px 0px 0px 0px;
}
.automated__container {
   display: flex;
   align-items: center;
}
.automated__content {
   width: 100%;
}
.automated__block-text {
   display: flex;
   flex-direction: column;
}
.block-text {
   font-weight: 400;  
   letter-spacing: 0.2px;
   color: rgb(31, 31, 31); 
}
.block-text__title {
   font-family: Fraunces;
   font-size: 58px;
   line-height: 63.8px;
   width: 500px;
   margin-bottom:24px;
}
.block-text__text {
   font-family: Inter;
   font-size: 20px;
   line-height: 30px;
   width: 350px;
   margin: 0px 0px 29px 0px;
}

.automated__button {
   margin: 0px;  
}

.automated__button .button {
   margin: 0px 24px 0px 0px;  
}
.button__link {
}

.automated__image {
}

.automated__image img {
   max-width: 452px;
   max-height: 422px;
} 
@media (max-width: 975px){
   .automated__image img {
      width: 400px;
      height: 400px;
   } 
}

@media (max-width: 925px){
   .automated__image img {
      width: 100%; 
      height: 100%;
   } 
}

@media (max-width: 767.98px){
   .automated__container {
      flex-direction: column;
   }
   .block-text__title,
   .block-text__text  {
   width: 100%;
   }
   .block-text__title {
      font-size: 40px;
   line-height: 44px;
   }
   .block-text__text  {
      font-size: 14px;
   line-height: 20px;
   }
   .automated__image {
      margin: 50px 0px 0px 0px;
   }
   .automated {
      margin-top: 25px;
   }
}

@media (max-width: 455.98px){
   .automated__content {
      margin: 30px 0px 0px 0px;
   }
}

/*======================================================================*/

.companies {
   margin: 100px 0px 0px 0px;
}
.companies__container {
   display: flex;
}
.companies__body {
   margin: 0 auto;
}
.companies-body__text {
   color: rgb(31, 31, 31);
   font-size: 24px;
   line-height: 37.5px;
   letter-spacing: 0.2px;
   text-align: center;
   margin: 0px 0px 28px 0px;
}
.companies-body__items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   /* width: 700px; */
   gap: 60px;
}
.companies-body__item {
}

@media (max-width: 767.98px){ 
   .companies {
      margin: 50px 0px 50px 0px;
   }
   .companies-body__items {
      gap: 20px;
      width: 400px;
   }
   .companies-body__item:last-child {
   width: 159px;
   }
}
@media (max-width: 471.98px){ 
   .companies-body__items {
      flex-direction: column;
   }
   .companies-body__item {
      margin: 0 auto;
   }
   .companies-body__item:last-child {
      width: 117px;
      }
   .companies-body__text {
   }
}

@media (max-width: 429.98px){
   .companies-body__items {
      width: 100%;
   }
}

/*=======================================================================*/

.conditions {
   margin: 120px 0px 120px 0px;
}
.conditions__container {
}
.conditions__body {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   gap: 32px;
}
.conditions-body__card {
   max-width: 355px;
}
.conditions-body__card-yellow {
   background: rgb(250, 234, 115);
}
.conditions-body__card-blue {
   background: rgb(204, 239, 246);
}
.conditions-body__card-pink {
   background: rgb(247, 206, 220);
}

.conditions-body__items {
   margin: 32px 32px;
}
.conditions-body__icon {
   margin-bottom: 8px;
}
.conditions-body__title {
   color: rgb(31, 31, 31);
   font-family: Fraunces;
   font-size: 25px;
   line-height: 31.25px;
   letter-spacing: 0.2px;
   margin-bottom: 13px;
}
.conditions-body__text {
   color: rgb(31, 31, 31);
   line-height: 24px;
   letter-spacing: 0.2px;
   }

@media (max-width: 1158px){
   .conditions {
      margin: 60px 0px 0px 0px;
   }
   .conditions__body {
      margin-bottom: 60px;
   }
}

/*====================================================================*/

.relaxing {
   background: rgb(247, 249, 250);
}
.relaxing__container {
   padding: 80px 15px;
}
.relaxing__body {
   display: flex;
   padding-top: 60px;
}
.relaxing-body__title {
   color: rgb(31, 31, 31);
   font-family: Fraunces;
   font-size: 42px;
   line-height: 50.4px;
   letter-spacing: 0.2px;
   width: 100%;
}
.relaxing-body__items {
   width: 100%;
}
.relaxing-item {
   width: 450px;
   display: flex;
   flex-flow: row wrap;
   border: 1px solid rgb(194, 205, 216);
   border-left: none;
   border-right: none;
   padding: 16px 0px;
   margin: 1px 0px 0px 0px;
}
.relaxing-item__image {
   margin-right: 16px;
}
.relaxing-item__dropdow-btn {
   display: flex;
   color: rgb(31, 31, 31);
   font-family: Fraunces;
   font-size: 21px;
   line-height: 25.2px;
   letter-spacing: 0.2px;
   background: rgba(255, 255, 255, 0);
}
.relaxing-item__text {
   display: none;
   color: rgb(31, 31, 31);
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.2px;
   width: 363px;
   margin: 18px 0px 0px 50px;
}
.dropdow {

}
.dropdow-item {
   float: right;
   padding-right: 8px;
}
.active {
}
.relaxing-body__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
@media (max-width: 660px){
   .relaxing-body__title {
      font-size: 30px;
      line-height: 35.4px;
   }
   .relaxing-item__text {
      font-size: 16px;
   }
   .relaxing-item {
      width: 100%;
   }
}

@media (max-width: 424.98px){
   .relaxing-item__text {
      margin-left: 0;
   }
}

@media (max-width: 960px){
   .relaxing__body {
      display: block;
      align-items: center;
   }
}


/*=====================================================*/


.whirl {
   padding: 120px 0px;
   letter-spacing: 0.2px;
   font-weight: 400;
   color: rgb(31, 31, 31);
}
.whirl__container {
}
.whirl__body {
   display: flex;
}
.whirl-body__title {
   margin-right: 100px;
   font-family: Fraunces;
   font-size: 42px;
   line-height: 50.4px;
}
.whirl-body__card {
   display: flex;
   gap: 32px;
   margin-left: auto
}
.whirl-card__body {
   width: 222px;
}
.whirl-card__icon {
   margin-bottom: 8px;
}

.whirl-card__icon:first-child {
   width: 55px;
   height: 55px;
}
.whirl-card__title {
   margin-bottom: 13px;
   font-family: Fraunces;
   font-size: 25px;
   line-height: 31.25px;
}
.whirl-card__text {
   margin-bottom: 14px;
   font-size: 15px;
   line-height: 24px;
   }

   @media (max-width: 1158px){
      .whirl__body {
         display: block;
         
      }
      .whirl-body__title {
         /* display: flex;
         justify-content: center; */
         margin: 0px 0px 40px px;
      }
      .whirl-card__body {
         margin: 0 auto; 
      }
   }

   @media (max-width: 700px){
      .whirl-body__card {
         display: block;
      }
      .whirl-card__body {
         width: 300px;
      }
   }

   /*==================================================*/

.track {
   background: rgb(0, 112, 160);
}
.track__container {
   padding-block: 90px;
}

.track__body {
   display: flex;
}
.track-body__image {
}

.track-image {
   width: min(100%, 382px);
   height: min(100%, 374px);
   object-fit:  cover;
}
.track-body__content {
   max-width: 500px;
   margin-left: auto;
}

.track-content__title {
   margin-bottom: 18px;
   color: rgb(255, 255, 255);
   font-family: Fraunces;
   font-size: 42px;
   line-height: 50.4px;
   letter-spacing: 0.2px;
}
.track-content__text {
   margin-bottom: 17px;
   color: rgb(255, 255, 255);
   line-height: 27px;
   letter-spacing: 0.2px;
}
.track-content__list {
   margin-bottom: 16px;
   color: rgb(255, 255, 255);
   line-height: 21.6px;
   letter-spacing: 0.2px;
}
.track-list__item {
   margin: 5px 0px;
}

.track-list__item::before {
   content: '✓';
   margin-right: 8px;
}

.track-content__button {
   margin: 0;
}

@media (max-width: 1000px){
   .track__body {
      display: block;
   }
   .track-body__image {
      display: flex;
      justify-content: center;
      margin: 0px 0px 30px 0px;
   }
   .track-body__content {
      display: flex;
      flex-direction: column;
      margin: 20px auto;
   }
}

/*========================================================*/


.options {
}
.options__container {
   padding-block: 120px;
}
.options__body {
}

.options-body__text {
   margin-bottom: 68px;
   max-width: 650px;
}
.options-text__title {
   margin-bottom: 21px;
   font-family: Fraunces;
   font-size: 42px;
   line-height: 50.4px;
}
.options-text__text {
   font-size: 18px;
   line-height: 27px;
}
.options-card__colomn {
   display: flex;
   width: 100%;
   justify-content: space-between;
}
.options-body__card {
   display: flex;
   justify-content: space-between;
}
.options-card {
   width: 265px;
   padding: 0px 15px;
}
.options-card__icon {
   margin-bottom: 8px;
   width: 55px;
   height: 55px;
}
.options-card__title {
   margin-bottom: 13px;
   font-family: Fraunces;
   font-size: 25px;
   line-height: 31.25px;
}
.options-card__text {
   line-height: 24px;
}

@media (max-width: 1158px){
   .options-body__card {
      margin: 0px auto;
      flex-wrap: wrap;
   }
   .options-card__colomn {
      justify-content: space-around;
   }
   .options-card__colomn:last-child {
      margin: 20px 0 0 0;
   }
}

@media (max-width: 600px){
   .options-card__colomn {
      display: flex;
      flex-direction: column;
   }
   .options-card__colomn:last-child {
      margin: 0;
   }
   .options-card {
   margin: 20px auto;
   }
}

/*==================================================================*/

.blog {
   background: rgb(247, 249, 250);
}
.blog__container {
   padding-block: 80px;
}
.blog__body {
}

.blog-body__title {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
   align-items: center;
   
}
.blog-title {
   font-family: Fraunces;
   font-size: 42px;
   line-height: 50.4px;
}
.button__link {
}

.blog-body__content {
   display: flex;
   justify-content: space-between;
   gap: 32px;

}
.blog-card__content {
   padding: 25px 25px 25px 25px;
}
.blog-content__card {
   width: 355px;
   background: #fff;
}
.blog-card__image {
   width: 330px;
   object-fit: cover;
}
.blog-card__button {
   background: rgb(230, 247, 255);
   color: rgb(44, 144, 201);
   font-size: 12px;
   letter-spacing: 0.4px;
   text-align: center;
   padding: 3px 12px;
   margin-bottom: 8px;
}
.blog-card__title {
   font-family: Fraunces;
   font-size: 25px;
   line-height: 31.25px;
   margin-bottom: 12px;
   }
.blog-card__text {
   line-height: 19.6px;
   margin-bottom: 13px;
}
.blog-card__time {
   font-size: 12px;
   line-height: 19.6px;
}
@media (max-width: 1158px){
   .blog-body__content {
      flex-wrap: wrap;
      justify-content: space-around;
   }
}
@media (max-width: 660px){
   .blog-title {
      font-size: 30px;
      line-height: 35.4px;
   }
   .blog-content__card {
      width: 330px;
      background: #fff;
   }
   .blog-card__image img {
      width: 330px;
   }
}

/*===========================================================================*/

.demo {
   padding: 80px 15px;
}
.demo__container {
   background: rgb(230, 247, 255);
   padding: 64px 64px 48px 64px;
}
.demo__body {
   max-width: 510px;
}
.demo-body__title {
   font-family: Fraunces;
   font-size: 42px;
   line-height: 50.4px;
   margin-bottom: 21px;
}
.demo-body__text {
   font-size: 18px;
   line-height: 27px;
   margin-bottom: 33px;
}
.demo-body__button {
   margin: 0px 0px 12px 0px;
}
.demo-body__items {
}
.demo__items {
   display: flex;
   gap: 32px;
   height: 37px;
}
.demo-items__item {
   color: rgb(98, 106, 114);
   font-size: 13px;
   line-height: 21px;
}

.demo-items__item::before {
   content: '✓';
   margin-right: 9px;
}
@media (max-width: 660px){
   .demo {
      padding: 40px 15px;
   }
   .demo__container {
      
      padding: 32px 32px 32px 32px;
   }
   .demo-body__title {
      font-size: 30px;
   line-height: 35.4px;
   }
   .demo-body__text {
      font-size: 15px;
   }
}
@media (max-width: 500px){
   .demo__items {
      display: block;
   }
}


/*===========================================================================*/


.footer {
   padding-block: 48px;
}

.footer__container {
}
.footer__body {
   
}

.footer__body hr{

}

.footer__content {
   display: flex;
   justify-content: space-between;
   height: 216px;
}
.footer-card {
   width: 216px;
}
.footer-content__logo {
   width: 434px;
}
.footer-logo img{
   width: 135px;
   height: 47px;
   margin-bottom: 20px;
}
.footer-logo__text {
}
.button__link {
   padding: 0px 0px 0px 0px;
}

.footer-content__info {
}
.footer-info__title,
.footer-admin__title,
.footer-newsletter__title{
   margin-bottom: 16px;
}
.footer-info__list,
.footer-admin__list {
}
.footer-info__item:not(:last-child),
.footer-admin__item:not(:last-child){
   margin-bottom: 10px;
}
.footer-info__item a,
.footer-admin__item a{
   color: rgb(98, 106, 114);
}

.footer-content__admin {
}

.footer-content__newsletter {
}
.footer-newsletter__text {
}
.footer-newsletter__form {
   padding-block: 20px;
   margin-top: 14px;
}
.newsletter-form__email {
   width: 100%;
   border-bottom: 1px solid rgba(121, 116, 116, 0.401);
   margin-bottom: 13px;
}
.newsletter-form__button {
   height: 25px;
   width: 80px;
   background-color: #fff;
   border: 1px solid #8080805f;
}
.newsletter-form__button:hover {
   background-color: #d9d7d7;
   border: 1px solid #8080805f;
   transition: background-color 0.3s ease 0s;
}


.footer__end {
   display: flex;
   justify-content: space-between;
}
.footer-end__text {
}
.footer-end__icons {
   display: flex;
   gap: 20px;
}
.footer-icon {
}

.footer-line {
   margin: 64px 0px 36px 0px;
   background: rgb(222, 229, 235);
   height: 1px;
}